# Core Python libraries
Pillow      
numpy       
matplotlib    

# GUI
PySide6
pygame
pywavefront

# Optional graphics / 3D model display
PyOpenGL
PyQt6

setuptools
gpiozero

# Sensors & hardware
RPLCD
RPi.GPIO 
adafruit-DHT   
adafruit-circuitpython-dht 
smbus2
